<!-- Show error messages if any ( by using flash alert) -->
<!-- <#% flash.each do |type, msg| %>
<div><#= msg %></div>
<#% end %> -->

<% if @user.errors.any? %> <% @user.errors.full_messages.each do |message| %>
<div><%= message %></div>
<% end %> <% end %>

<h1>會員註冊</h1>

<%= form_for(@user, url: '/registering') do |form| %>
<div class="field">
  <%= form.label :username, 'Account' %> <br />
  <%= form.text_field :username, placeholder: 'Pick a name' %>
</div>

<div class="field">
  <%= form.label :password, 'Password' %> <br />
  <%= form.password_field :password, placeholder: '******' %>
</div>

<div class="field">
  <%= form.label :email, 'Email' %> <br />
  <%= form.text_field :email, placeholder: 'aaa@gmail.com' %>
</div>

<div class="submit">
  <%= form.submit 'Sign Up'%> <%#= form.submit 'Sign Up'%>
</div>

<% end %>
